n8n projects/GPT_5 BOwner 2.json
{
  "name": "GPT_5 BOwner 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        -144
      ],
      "id": "d82e7a6a-8122-4f43-95fb-6aff93d0d7e7",
      "name": "Telegram Trigger",
      "webhookId": "9aebdb25-8407-4307-ad30-f056921c8957",
      "credentials": {
        "telegramApi": {
          "id": "aRQnxFacYbXO6Tnl",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        96
      ],
      "id": "84b9d08c-d7e4-4d3e-ae43-605b24d75472",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('If').item.json.update_id }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        96
      ],
      "id": "07a4589d-389a-44f8-b521-9ce2d18d74bb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "salahatries3@gmail.com",
          "mode": "list",
          "cachedResultName": "salahatries3@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        112
      ],
      "id": "61c4e1d9-4f50-48d2-8b36-740c7bffd0dd",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Uc2Jk1GmNg3h2Xxo",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -208
      ],
      "id": "75721eac-2a70-4588-a408-a430fb98d8ca",
      "name": "Send a text message",
      "webhookId": "ca41f0fc-0731-4cd2-9957-d4df2907c3fa",
      "credentials": {
        "telegramApi": {
          "id": "aRQnxFacYbXO6Tnl",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} ?? {{ $json.text }}",
        "options": {
          "systemMessage": "=# Meeting Scheduler Bot (no employee availability check)\n\nCoordinate 1-to-1 meetings between the Business Owner and a single employee: collect any missing details, **(optionally) check the owner’s calendar for conflicts**, confirm with the owner on Telegram, then **create the event** and notify the employee by email.\n\n## Context\n- User: Business Owner (Telegram).  Employees sheet: **Role | Name | Number | Email**.\n- Tone: friendly; Language: English.  Default duration: **1 hour**.\n- Timezone: use owner’s; else **America/Denver** (PC).\n- Organizer: the Google Calendar node’s account (owner email not added to attendees).\n\n## Responsibilities\n1) Parse request → if fields missing, ask **one compact question**.  \n2) Get employee email from Google Sheets by **Name**.  \n3) (If available) conflict-check owner calendar for `{start,end,timezone}`.  \n4) Show final summary → wait **Confirm / Edit / Cancel**.  \n5) After **Confirm**, create the calendar event and email the employee; send Telegram confirmation to the owner.  \n6) Reset memory when done/cancelled.\n\n## Required Fields\nEmployee name; Date & time (with timezone); Duration (default 1h); Location (`office` or `video`); Title/agenda; Extra participants (optional emails).  \nIf `video`, obtain the **meeting link from Google Calendar** (conference data) and include it.\n\n## Tools\n- **Employees Info (Sheets—read):** lookup by Name → `{name,email,role,number}`.  \n- **Owner Calendar (Calendar—getMany events):** inputs `{start,end,timezone}`; conflict if `(event.start < end) AND (event.end > start)` and not cancelled.  \n- **Create Event (Calendar—create):** inputs `title,start,end,timezone,location/link,description,attendees:[employeeEmail,...extras]`; enable conference data; returns `eventLink` and `meetingLink`.  \n- **Employee_Not (Gmail—send):** send final meeting details to employee.  \n- **Telegram (send message):** prompts/summaries/confirmation.  \n- **Simple Memory:** session state with the memory key above.\n\n## Telegram Output (Markdown)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -160
      ],
      "id": "4ceab0a8-7199-430a-98c0-ba3ab11da0c7",
      "name": "GPT_5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pNzfmxVnfo8avC7Dx1vKeVB0pelXO23TBRnnf73qJz0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pNzfmxVnfo8avC7Dx1vKeVB0pelXO23TBRnnf73qJz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 968529878,
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pNzfmxVnfo8avC7Dx1vKeVB0pelXO23TBRnnf73qJz0/edit#gid=968529878"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        64,
        112
      ],
      "id": "0d9d4924-c5de-4c4a-9123-2c87fa02fc0a",
      "name": "Employees Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A9MD17NeE2Q5fhPY",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        224,
        112
      ],
      "id": "2f4cecb1-edc2-44d7-8a8a-5db817673f09",
      "name": "Employee_Not",
      "webhookId": "3c1ccc93-e16d-4874-947b-1b8dee22a73e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TnkH8D49FqNypi7N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "476e01e0-850a-42e2-958a-d82e11b5221e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        -144
      ],
      "id": "f6d79c24-bce8-4b03-9b29-9cb5d57357f9",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        -48
      ],
      "id": "20d4a4c6-c649-4a10-a671-a17419d3d8f7",
      "name": "Get a file",
      "webhookId": "0e91a9d6-1468-482e-96ef-7de0f3b97842",
      "credentials": {
        "telegramApi": {
          "id": "aRQnxFacYbXO6Tnl",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -368,
        -48
      ],
      "id": "c614b348-6795-4b28-93eb-a4b7c2ef2574",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8111ac28-c7af-49ef-aed5-fe25faff67a5",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -160
      ],
      "id": "2ef326e0-1d65-4029-aea8-1a4ee62ff1c9",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('GPT_5').item.json.output }}",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        -64
      ],
      "id": "88fcef06-3b37-4a1f-bbe1-212d362612a0",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -64
      ],
      "id": "4a662085-38f5-4e2c-88e5-6b8c5caa375d",
      "name": "Send an audio file",
      "webhookId": "6bbd0d14-8bde-48d3-b7ba-87e350e953d0",
      "credentials": {
        "telegramApi": {
          "id": "aRQnxFacYbXO6Tnl",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GPT_5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "GPT_5",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "GPT_5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT_5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Employees Info": {
      "ai_tool": [
        [
          {
            "node": "GPT_5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee_Not": {
      "ai_tool": [
        [
          {
            "node": "GPT_5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GPT_5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "GPT_5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "62b9cdb6-fa05-4da6-95a3-c055b6ed6312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac52fa9fa7244abc61a934d4d779aff2afd61e496c8b6bcce06bcf38de01a5a8"
  },
  "id": "VaHc70Hjx6UvMV3E",
  "tags": []
}