n8n projects/RAG chatbot v3.json
{
  "name": "RAG chatbot v3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        -144
      ],
      "id": "5231e69d-6d26-4428-8673-5d27e4f14b15",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -912,
        -144
      ],
      "id": "70380d76-cf80-4707-8c31-2b387ddd14a2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8nrag",
          "mode": "list",
          "cachedResultName": "v2n8nrag"
        },
        "options": {
          "pineconeNamespace": "n8ntestv2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -704,
        -144
      ],
      "id": "eec5f36a-708a-4320-b0c9-37e6232b99ad",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3iTGP4Pp7Fs5zEB9",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -528,
        48
      ],
      "id": "3e6439cb-1848-484d-819f-7f7abecbecc8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "BM Brand Preview"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -336,
        -32
      ],
      "id": "62101ce5-738c-485f-86fa-60e1807be650",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Knowledge Base",
        "height": 656,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -240
      ],
      "id": "ba74cf48-e83d-4ea4-b652-f35c0c583229",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot",
        "height": 720,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -240
      ],
      "id": "13c5a298-924a-44c6-8121-aaa03791e6c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing BM Brand Preview’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 and Q2 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -128
      ],
      "id": "ea1a1de0-9df1-4dda-99da-8e7051359bd8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Mohamed. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -32,
        -128
      ],
      "id": "d8059f25-5621-435e-92ab-615bfa011cf5",
      "name": "When chat message received",
      "webhookId": "f2fbfbb2-5c21-4ad3-bfd4-034a824711ca"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        80
      ],
      "id": "c4d39459-ea52-4804-b2b8-65d822b328b6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        80
      ],
      "id": "78232fc6-b70b-4014-ac5e-c703b1c922ab",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Returns documents related to BM Brand Preview reports, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        432,
        16
      ],
      "id": "cfefca2c-6676-4005-9484-974fea161225",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        304
      ],
      "id": "8f710c49-c3be-49b0-9556-d9646c4565a7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        160
      ],
      "id": "493f3a4f-6f45-456a-a116-17009743eb5b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        80
      ],
      "id": "83157b73-5d78-408f-bb27-a407e93746c4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1104,
        80
      ],
      "id": "feb82788-bdd2-467a-a7f7-c8e03de5ae18",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -912,
        80
      ],
      "id": "11e2a87a-a0b2-451e-9fa3-35a10b8ebc18",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8nrag",
          "mode": "list",
          "cachedResultName": "v2n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        192
      ],
      "id": "ce9a1aeb-b30a-4500-abce-840614348499",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3iTGP4Pp7Fs5zEB9",
          "name": "PineconeApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0216e6a0-bcd7-4347-b1f7-5d41bb8dd60a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6f44544d4df2b8a58b5741152a56bfa0c39ed168e2834498b68c8e663a36cec"
  },
  "id": "emnlyByo2xqdSiea",
  "tags": []
}