n8n projects/RAG chatbot v4.json
{
  "name": "RAG chatbot v4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        -320
      ],
      "id": "226c6d23-dc19-419b-8c99-eb6cc6a68273",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1552,
        -304
      ],
      "id": "df02710d-0676-48ab-b4b0-c4cd539cc782",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8nrag",
          "mode": "list",
          "cachedResultName": "v2n8nrag"
        },
        "options": {
          "pineconeNamespace": "={{ $json['File _ Name'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -816,
        -304
      ],
      "id": "a2082897-bb59-4190-9f22-31375dd2f000",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3iTGP4Pp7Fs5zEB9",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -848,
        -64
      ],
      "id": "c3c879e3-2369-4238-a766-fd8d5df69f91",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -688,
        -32
      ],
      "id": "3635bf89-c9cf-4062-8eca-be819eadfee1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Knowledge Base",
        "height": 848,
        "width": 1488
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        -432
      ],
      "id": "fb1f9d02-1947-4f9a-8411-0f1ee6ed340c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot",
        "height": 848,
        "width": 1328
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -432
      ],
      "id": "9dca4524-d3a9-4634-b395-df30e08e1e65",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing BM Brand Preview’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 and Q2 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -320
      ],
      "id": "3b415dbc-a8d7-4d0f-a151-e78a0002b461",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Mohamed. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        -320
      ],
      "id": "998e6547-c298-42cb-8eef-b45eec13ecee",
      "name": "When chat message received",
      "webhookId": "c837157a-05bf-4015-9707-bb032e3f3ae7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        -32
      ],
      "id": "a9fb2e5f-17f9-44b6-bec7-51068ad0f4ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to BM Brand Preview reports, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        592,
        -112
      ],
      "id": "b995d879-4639-45ca-a47b-57ceda7b268c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        272
      ],
      "id": "f608da7a-01c2-42fa-aefe-f3f2934e1fd7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        64
      ],
      "id": "b9f17474-f96f-4578-a9e7-7964c95d688c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        -32
      ],
      "id": "7ac6ce78-16dc-4782-90f8-fbaf0b0e67b9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1600,
        32
      ],
      "id": "72d89b95-8ae6-4a8f-94fa-107d44113c45",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['File _ id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1152,
        128
      ],
      "id": "e01acff3-3c9b-4b4d-9ed8-cf0351a2ea2a",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        -368
      ],
      "id": "0d8b66e8-81cd-4711-ad9d-6957cfd6bcfd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -688,
        144
      ],
      "id": "4633f7eb-1fbc-48c3-b6d3-e3290c97b0b4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f679c9ca-4d88-48f2-a796-199a116234d7",
              "name": "File _ Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "19c2ed76-c12f-4230-b368-4eb2c77d9cdf",
              "name": "File _ id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "17606d40-fb1c-412f-9103-9d579625bb1c",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        32
      ],
      "id": "8d4e870c-7ed8-4287-88f9-1b6194cac4e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8nrag",
          "mode": "list",
          "cachedResultName": "v2n8nrag"
        },
        "options": {
          "pineconeNamespace": "={{ $json['File _ Name'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        112
      ],
      "id": "bb5373ec-428c-4691-a34d-984805de6d7c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3iTGP4Pp7Fs5zEB9",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59caaf17-d55b-4bfa-bd24-1a3e7bdb5d54",
              "name": "File _ Name",
              "value": "={{$json[\"chatInput\"].match(/Q[1-4]/i) ? \n($json[\"chatInput\"].match(/Q[1-3]/i)[0].toUpperCase() + \".pdf\").trim() : \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -320
      ],
      "id": "e8b2ae92-c144-49e8-9ab7-201200e127f1",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "30af415b-dd60-488b-9af1-caffe31d5413",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6f44544d4df2b8a58b5741152a56bfa0c39ed168e2834498b68c8e663a36cec"
  },
  "id": "maUvZ81iqX8farkT",
  "tags": []
}