n8n projects/RAG chatbot v6.json
{
  "name": "RAG chatbot v6",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"File _ id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1216,
        48
      ],
      "id": "d7299948-8cb5-4286-b9b6-4d3eeaa38f69",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8nrag",
          "mode": "list",
          "cachedResultName": "v2n8nrag"
        },
        "options": {
          "pineconeNamespace": "={{ $json['File _ Name'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -656,
        -336
      ],
      "id": "71fb961e-b4ba-402a-8bd1-7b21381db6dd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3iTGP4Pp7Fs5zEB9",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -768,
        -64
      ],
      "id": "5cfe166c-fe6b-4f55-8465-71a54e939698",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -624,
        -48
      ],
      "id": "0549b7e8-abc4-4e4f-88ac-ed8f038375ff",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Knowledge Base",
        "height": 848,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        -432
      ],
      "id": "e21aa74e-c8c0-42ed-b88d-6066945b7c13",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot",
        "height": 848,
        "width": 1328
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -432
      ],
      "id": "9f4404d2-49de-4e8b-9881-51cdfbe70652",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing BM Brand Preview’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 and Q2 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -320
      ],
      "id": "9c9e3694-4925-428b-9ba6-f92d973b59c9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Mohamed. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        -320
      ],
      "id": "f7ee369a-73a5-4e38-80e4-07bb05d8452d",
      "name": "When chat message received",
      "webhookId": "fa85bc37-e2f8-4fb5-8317-e5cb694d6423"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        -32
      ],
      "id": "9ecd9652-45a0-43df-b9cd-43c548914528",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to BM Brand Preview reports, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        592,
        -112
      ],
      "id": "6fac571b-8f24-4beb-a034-4404b8746d18",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        272
      ],
      "id": "7dd045a0-ff64-44fd-b32b-7044bdf81194",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        64
      ],
      "id": "8fccfc4f-b92a-4dab-adef-e1661d6392bf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "VfGvMRNf9OzP8roj",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2320,
        96
      ],
      "id": "3347f453-2ab3-440b-8e55-db31219c2165",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1lJcxE_cqGocMmfaCNjgrXEzJU4qfKDmc"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2048,
        -320
      ],
      "id": "4e2483dd-5f09-4bad-b5bc-afa8ed0c7fb9",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FpLJraykFrBlfbsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -864,
        -368
      ],
      "id": "f3bc046f-104e-40ed-ac95-ea30cff9a5ef",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -496,
        112
      ],
      "id": "3733fd9e-188a-4ad4-83b3-abb806d64aab",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f679c9ca-4d88-48f2-a796-199a116234d7",
              "name": "File _ Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "19c2ed76-c12f-4230-b368-4eb2c77d9cdf",
              "name": "File _ id",
              "value": "={{ $json.ID }}",
              "type": "string"
            },
            {
              "id": "17606d40-fb1c-412f-9103-9d579625bb1c",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -336
      ],
      "id": "98b57aaa-bef3-41c1-97d6-24b5948c4e8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8nrag",
          "mode": "list",
          "cachedResultName": "v2n8nrag"
        },
        "options": {
          "pineconeNamespace": "={{ $json['File _ Name'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        112
      ],
      "id": "9f4dbd0b-b0ec-48c9-a45d-969c55e8552a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3iTGP4Pp7Fs5zEB9",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59caaf17-d55b-4bfa-bd24-1a3e7bdb5d54",
              "name": "File _ Name",
              "value": "={{$json[\"chatInput\"].match(/Q[1-4]/i) ? \n($json[\"chatInput\"].match(/Q[1-3]/i)[0].toUpperCase() + \".pdf\").trim() : \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -320
      ],
      "id": "b28a4cc4-b603-41c4-9d7c-df3bc3f44b2a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "# Uploading to VD",
        "height": 848,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -432
      ],
      "id": "17141966-a1eb-43f6-be91-26a45dca38eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2320,
        -320
      ],
      "id": "eed4b494-fbb5-40e4-afba-35d477822959",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o224sMFTMyD1-t4XpmpSXEQohveS82vKYsnWTLWTiFw",
          "mode": "list",
          "cachedResultName": "N8N PDFS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o224sMFTMyD1-t4XpmpSXEQohveS82vKYsnWTLWTiFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o224sMFTMyD1-t4XpmpSXEQohveS82vKYsnWTLWTiFw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2048,
        96
      ],
      "id": "d34bf147-afef-4433-849b-52b89c449490",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oVsOak2gJcEiIthg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ Get ALL incoming data as one flat array\nconst allInputs = $input.all(); \n\n// Separate Drive files vs Sheet rows by their structure\nconst driveInput = [];\nconst sheetInput = [];\n\n// Loop through all incoming items and detect source\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // Drive files have `id` + `name`\n  if (data.id && data.name) {\n    driveInput.push(data);\n  }\n  \n  // Sheet rows have `ID` + `Name`\n  if (data.ID || data.Name) {\n    sheetInput.push(data);\n  }\n}\n\n// ✅ Extract already processed IDs from sheet\nconst processedIds = sheetInput\n  .filter(row => row.ID && row.ID !== \"\")\n  .map(row => row.ID);\n\n// ✅ Filter only NEW files not in sheet\nconst newFiles = driveInput.filter(f => !processedIds.includes(f.id));\n\n// ✅ Debug info\nconsole.log(`Drive files found: ${driveInput.length}`);\nconsole.log(`Sheet rows found: ${sheetInput.length}`);\nconsole.log(`Already processed IDs: ${processedIds.length}`);\nconsole.log(`New files to download: ${newFiles.length}`);\n\n// ✅ Output only the new ones\nreturn newFiles.map(f => ({\n  json: {\n    fileId: f.id,\n    fileName: f.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        -16
      ],
      "id": "1485ff2a-63d7-4fb0-b1ed-49c50d3c0532",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1840,
        -96
      ],
      "id": "8b2af044-2532-4646-b92b-1262ece8f88b",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o224sMFTMyD1-t4XpmpSXEQohveS82vKYsnWTLWTiFw",
          "mode": "list",
          "cachedResultName": "N8N PDFS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o224sMFTMyD1-t4XpmpSXEQohveS82vKYsnWTLWTiFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o224sMFTMyD1-t4XpmpSXEQohveS82vKYsnWTLWTiFw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.fileName }}",
            "ID": "={{ $json.fileId }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1520,
        -368
      ],
      "id": "c0cfd75b-9522-4cb2-ab4f-78dd37de9561",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oVsOak2gJcEiIthg",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f0d0d007-f092-41f2-929a-afa8843ba3a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6f44544d4df2b8a58b5741152a56bfa0c39ed168e2834498b68c8e663a36cec"
  },
  "id": "trmPoUYqIJm97HtX",
  "tags": []
}