n8n projects/whatsapp agent.json
{
  "name": "whatsapp agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        -48
      ],
      "id": "8335d0b0-e51f-4db8-bcbc-53a80061f8fd",
      "name": "WhatsApp Trigger",
      "webhookId": "fe1381ea-aa54-4391-91e8-b25721ea2e67",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Lft6SJLz9Vu2dxJL",
          "name": "WhatsApp OAuth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Parent Orchestrator Agent. Your job is to route and coordinate incoming WhatsApp messages (text, voice, image) to the correct sub-agent or processing tool. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Think: Use to evaluate context and decide routing logic\n- E-Mails Agent: Use for handling email-related queries, sending, replying, or managing inbox\n- Calendar Agent: Use for scheduling, retrieving, updating, or deleting calendar events\n- Web Search Agent: Use to fetch information from the internet (Google Search, Wikipedia, Hacker News)\n- Social Media Agent: Use to create or manage posts on Twitter/X\n\n## Rules\n- Route text, voice, or image inputs based on intent and context\n- Use Think tool when unsure which agent to delegate to\n- Always return the response in the correct WhatsApp output format (text or audio)\n- Keep responses concise and aligned with the casual tone of WhatsApp\n- Confirm completion of actions (emails sent, events scheduled, tweets posted, etc.)\n\n## Instructions\n1) Receive processed input (transcribed text, analyzed image, or raw message)\n2) Decide best-fit agent using Think\n3) Send the task to chosen sub-agent (E-Mails, Calendar, Web Search, Social Media)\n4) Summarize the result and return to WhatsApp as text or audio\n\n## Examples\n1)\nInput: \"What’s on my calendar tomorrow?\"\n- Action: Use Calendar Agent to check tomorrow’s events\n- Output: \"You have 2 events tomorrow: 10 AM – Project Review, 2 PM – Client Call.\"\n\n2)\nInput: Voice message: \"Send an email to Sarah about the meeting.\"\n- Action: Use E-Mails Agent to draft and send email\n- Output: \"Email sent to Sarah: Subject – Meeting Update...\"\n\n3)\nInput: \"Search the latest AI news.\"\n- Action: Use Web Search Agent\n- Output: \"Latest AI news from Hacker News: OpenAI released a new API feature...\"\n\n4)\nInput: \"Post on Twitter: Excited about our new product launch!\"\n- Action: Use Social Media Agent\n- Output: \"Tweet posted: 'Excited about our new product launch!'\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -384
      ],
      "id": "36d07f81-632d-4a3b-b6d1-3d2afc506b1f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        -160
      ],
      "id": "6c48d42c-9b9a-4c5d-a5b4-38358afb8b8e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 200
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        -208
      ],
      "id": "c9575818-2840-4e7e-868c-539209c3ffd1",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "965597869968350",
        "recipientPhoneNumber": "+201128864057",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1504,
        -224
      ],
      "id": "d54c7c9d-bfc1-4420-82a0-1339100de07a",
      "name": "Send message",
      "webhookId": "e6f87d32-f815-40f1-921d-148a5fad044e",
      "credentials": {
        "whatsAppApi": {
          "id": "Wmm8ps2nJwot0agA",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "381c26d8-ce3a-4b32-b23a-7eaa86490bb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a9b7ae5-a686-4852-892d-7f2daff7583d",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bbd37673-0150-4d1a-9d73-a3f84ee2842e",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -672,
        -64
      ],
      "id": "bfb07e7c-399a-4e7f-b1d1-05c68be02703",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -320,
        -48
      ],
      "id": "137fea9c-d2dd-4ae1-8af4-dc07642fba2d",
      "name": "Download URL",
      "webhookId": "9f309eb9-d03a-4ff7-94fb-8c4d4ae8bcd1",
      "credentials": {
        "whatsAppApi": {
          "id": "MqQu4z26S3LWTwUi",
          "name": "WhatsApp account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        -48
      ],
      "id": "b3c3f851-4ba0-456f-802a-bfe9443e942a",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ef7a51b-60d4-4b85-b426-3e11151e8998",
              "name": "Text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -224
      ],
      "id": "191c264d-067e-4ae8-878a-393855143f73",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ef7a51b-60d4-4b85-b426-3e11151e8998",
              "name": "Text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -48
      ],
      "id": "e6916fa8-57e0-4004-94eb-b43fe94613f7",
      "name": "Voice"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -48
      ],
      "id": "a0d2e7c2-ba33-427e-a08a-cbfde2441666",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CEBLMLyCDa2GaAWL",
          "name": "Header Auth account 11"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75ab726e-3241-48ba-8942-675acda6ceec",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -96
      ],
      "id": "34cfb670-fd05-4aa2-913f-5fa7544b1e9a",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "shimmer",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1264,
        -224
      ],
      "id": "e84eaea8-d945-4a16-89ab-b3125371a8e8",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "965597869968350",
        "recipientPhoneNumber": "+201128864057",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1232,
        -16
      ],
      "id": "84a8603d-d105-4bbd-a9c1-3b67ca182dac",
      "name": "Send message1",
      "webhookId": "6137ab83-3571-4d28-8cf7-87d9df4510fb",
      "credentials": {
        "whatsAppApi": {
          "id": "MqQu4z26S3LWTwUi",
          "name": "WhatsApp account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        16,
        144
      ],
      "id": "6d9324ac-c439-4049-bb6c-60ff2fa7a694",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -336,
        144
      ],
      "id": "679ab570-6b0a-4a84-b76b-483055ed3075",
      "name": "Download  Image URL",
      "webhookId": "5e6309d6-3aa6-4a28-be2e-f211ce16cf47",
      "credentials": {
        "whatsAppApi": {
          "id": "MqQu4z26S3LWTwUi",
          "name": "WhatsApp account 7"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ef7a51b-60d4-4b85-b426-3e11151e8998",
              "name": "Text",
              "value": "=# The author provided the image and the text \n\n## Image Description\n{{ $json['0'].content[0].text }}\n\n## User Message\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe this image\" }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        144
      ],
      "id": "0d0facc4-d330-4220-9e68-65de9b3a5ade",
      "name": "Image + Text"
    },
    {
      "parameters": {
        "url": "={{ $('Switch').item.json.messages[0].image.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        144
      ],
      "id": "9ddc837d-d6ca-4690-8f7b-a11431959dd2",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CEBLMLyCDa2GaAWL",
          "name": "Header Auth account 11"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 608,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -304
      ],
      "typeVersion": 1,
      "id": "e89c7cfc-4bee-4aab-9b7d-2b2327e4915c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Text",
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -240
      ],
      "typeVersion": 1,
      "id": "bd1c53af-9423-417f-ab1a-10d66189e6c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Voice",
        "height": 128,
        "width": 832,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -48
      ],
      "typeVersion": 1,
      "id": "8f3f3b0e-6928-4fe0-bb7f-23353b584efc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Image",
        "height": 176,
        "width": 832,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        112
      ],
      "typeVersion": 1,
      "id": "cdacc22c-6a55-4590-abb4-dc4ddf00561a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        848,
        -112
      ],
      "id": "92321c19-584b-4936-bc08-78b540475d56",
      "name": "Think"
    },
    {
      "parameters": {
        "content": "## Parent",
        "height": 560,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -448
      ],
      "typeVersion": 1,
      "id": "423add97-d674-4687-8b6e-e1c4d5e64d0f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "##Output",
        "height": 560,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -304
      ],
      "typeVersion": 1,
      "id": "eb5c0dd9-5c48-494f-99c7-d16f107fd0b3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Text+ Voive",
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -240
      ],
      "typeVersion": 1,
      "id": "054f178e-15c1-48e7-8920-7745e9c155e0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Image",
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -32
      ],
      "typeVersion": 1,
      "id": "5b53bc5f-11c0-41b5-b627-6e4e09e111e4",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to post on x.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Role\nYou are an expert in creating high-quality, engaging, and modern posts for **X (formerly Twitter)**.  \nYou receive information and generate posts that are:\n\n- **Concise and informative**, without unnecessary details.  \n- **Engaging and dynamic**, designed to capture attention and encourage interaction.  \n- **Trending and optimized**, using relevant keywords and hashtags for maximum reach.  \n- **Structured for readability**, utilizing short paragraphs, line breaks, and emojis to enhance engagement.  \n\n---\n\n## Post Style\nYour posts should primarily focus on **AI topics** and often begin with this format:\n\n👉 *“XYZ just dropped XYZ, and people are already doing crazy stuff with it—10 examples.”*  \n\n⚠️ **Important:** When creating a post, always use the **savePost** tool to store it.  \n\n---\n\n## Tools\n\n### savePost\nUse this tool to save the post in a **Google Sheets document**. Include:\n\n- **Column 1:** Current date  \n- **Column 2:** Post topic  \n- **Column 3:** Post content (plain text)  \n",
          "maxIterations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Iterations', ``, 'number') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        592,
        192
      ],
      "id": "97ae79f7-98f7-4128-a5ef-f7129b35f91e",
      "name": "Social media"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        384
      ],
      "id": "3859b447-33d4-4b08-954b-e2f05bd9c8c1",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IOYjfBEM1N05vXuv8Pif7oh46dXU8NdbeyvS23oTsMk",
          "mode": "list",
          "cachedResultName": "x-posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOYjfBEM1N05vXuv8Pif7oh46dXU8NdbeyvS23oTsMk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOYjfBEM1N05vXuv8Pif7oh46dXU8NdbeyvS23oTsMk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Theme": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Theme', ``, 'string') }}",
            "Posts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Posts', ``, 'string') }}"
          },
          "matchingColumns": [
            "Posts"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        896,
        368
      ],
      "id": "b3d1133f-e643-431a-adb5-8042bd37a5b1",
      "name": "X- Post",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FU4NGMLYtPPHbFEG",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to search the web.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "## Overview\nYou are the Web Search Agent. Your job is to search the web and retrieve reliable information from news, Wikipedia, or Google Search when requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Get an article in Hacker News: Use to fetch recent Hacker News articles\n- Wikipedia: Use to retrieve encyclopedic and factual information\n- Google Search (SerpApi): Use for general web searches across the internet\n\n## Rules\n- Always choose the most relevant tool for the query\n- Return concise, clear, and factual responses\n- Summarize results instead of dumping raw data\n- Cite the source of information (e.g., \"According to Wikipedia...\")\n\n## Instructions\n1) Interpret the user’s query\n2) Select the best tool (Hacker News, Wikipedia, Google Search)\n3) Retrieve and summarize the answer\n4) Return only the relevant response in plain text\n\n## Examples\n1)\nInput: \"What’s the latest AI news?\"\n- Action: Use Hacker News tool to get recent articles\n- Output: \"Latest on Hacker News: OpenAI released a new API feature...\"\n\n2)\nInput: \"Who invented the telephone?\"\n- Action: Use Wikipedia tool\n- Output: \"According to Wikipedia, Alexander Graham Bell is credited with inventing the telephone in 1876.\"\n\n3)\nInput: \"Best restaurants in New York 2025\"\n- Action: Use Google Search (SerpApi)\n- Output: \"Top-rated restaurants in New York (2025): Le Bernardin, Eleven Madison Park, Atomix.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -704,
        608
      ],
      "id": "4e576379-00b7-4d80-8153-0bd64a9b856b",
      "name": "Search Agent",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -368,
        832
      ],
      "id": "7a1470b8-74ad-41e7-83d7-9136a5a543ad",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "vRzPUm8HGB2jQVR3",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -512,
        832
      ],
      "id": "851dbe8d-755f-4e4d-af8d-65b11c3b1c12",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "articleId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        -656,
        832
      ],
      "id": "1789d230-7cff-49c2-9b6b-240202f90b56",
      "name": "Get an article in Hacker News"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        832
      ],
      "id": "77eda29f-9215-4d2f-abd2-35ef3f806369",
      "name": "GPT-4.1-mini2",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Web Search Agent\n\n",
        "height": 496,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        528
      ],
      "typeVersion": 1,
      "id": "58e20b2d-1295-4653-9686-c996a60f1405",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with E-mails.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        208,
        592
      ],
      "id": "a0299648-17bb-4597-9752-d2097a86a797",
      "name": "E-Mails Agent1"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        0,
        832
      ],
      "id": "327b5604-f648-4056-a609-30996dc3df3a",
      "name": "Send a message",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ihkhMiT5pntQyhjT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        288,
        832
      ],
      "id": "420a4622-d442-42ac-a93d-841b049eef2f",
      "name": "Get many e-mails",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ihkhMiT5pntQyhjT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        144,
        832
      ],
      "id": "cf661679-c66b-45e1-ab6e-76602b1bd3c7",
      "name": "Delete an e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ihkhMiT5pntQyhjT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        448,
        832
      ],
      "id": "fe60d29f-0817-4de4-9a4e-0a0123ff0740",
      "name": "Mark as read",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ihkhMiT5pntQyhjT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        832
      ],
      "id": "49c3c4cf-bdd9-48b1-bc31-52d5dae53f46",
      "name": "Mark as unread",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ihkhMiT5pntQyhjT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        784,
        832
      ],
      "id": "25426e28-fe4e-4dba-9f64-c796faf32452",
      "name": "Reply to e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ihkhMiT5pntQyhjT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        816
      ],
      "id": "e081f0c7-edea-4180-a138-e84867dae8a4",
      "name": "GPT-4.1-mini3",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# E-Mail Agent\n\n\n",
        "height": 496,
        "width": 1232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        544
      ],
      "typeVersion": 1,
      "id": "ce4a0f15-5dd3-4a42-bc31-506a03418688",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with calendar.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Calendar Agent. Your job is to manage calendar events by creating, updating, retrieving, or deleting them as requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Create an event: Use to add a new calendar event\n- Delete an event: Use to remove an existing event\n- Get an event: Use to fetch details of a specific event\n- Get Many Events: Use to list multiple upcoming or past events\n- Update Events: Use to modify details of an existing event\n\n## Rules\n- Always confirm the date, time, and event details before creating or updating\n- Use Get Many Events before creating to avoid duplicates if unsure\n- Keep responses short and clear for WhatsApp delivery\n- If an event cannot be found, respond politely with a fallback message\n\n## Instructions\n1) Interpret the user’s calendar request\n2) Select the correct tool (create, get, update, delete)\n3) Execute the action and return a human-friendly summary\n4) Always confirm the action back to the user\n\n## Examples\n1)\nInput: \"Add a meeting with Sarah tomorrow at 3 PM\"\n- Action: Use Create an event\n- Output: \"Meeting with Sarah scheduled for tomorrow at 3 PM.\"\n\n2)\nInput: \"What’s on my calendar this week?\"\n- Action: Use Get Many Events\n- Output: \"You have 4 events this week. First: Team Sync, Monday 10 AM.\"\n\n3)\nInput: \"Cancel my dentist appointment on Friday\"\n- Action: Use Delete an event\n- Output: \"Dentist appointment on Friday has been deleted.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1440,
        640
      ],
      "id": "60dbeacc-f6da-42c1-8d46-d3688aa63dc4",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1408,
        880
      ],
      "id": "794179b3-80e2-4b49-b6e7-bebdc44e78f5",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ohec0COI4e5yCeTq",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1568,
        880
      ],
      "id": "71b2c050-46d0-4f27-9f33-4c799014d8ce",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ohec0COI4e5yCeTq",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1696,
        880
      ],
      "id": "ae08dacd-458b-4c6b-a2e9-73d1fcb0ad0f",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ohec0COI4e5yCeTq",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1840,
        880
      ],
      "id": "ed75ba6a-21cc-4552-8aac-2dc1c7b22138",
      "name": "Get Many Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ohec0COI4e5yCeTq",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1984,
        880
      ],
      "id": "3a852c7b-a901-40cf-be23-fb08a8ebd543",
      "name": "Update Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ohec0COI4e5yCeTq",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        880
      ],
      "id": "8b1b914d-16d8-424f-8a20-fd131ecfcbae",
      "name": "GPT-4.1-mini4",
      "credentials": {
        "openAiApi": {
          "id": "V0bCLeLSWEN3EzH3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Calender Agent\n\n\n",
        "height": 496,
        "width": 944,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        560
      ],
      "typeVersion": 1,
      "id": "d6079886-3369-4529-b348-e98113c7996a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        736,
        368
      ],
      "id": "0fa0fdf4-233b-4f7f-8cf6-508868b71f9a",
      "name": "Create Tweet in X",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download  Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download  Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image + Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image + Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social media": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Social media",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "X- Post": {
      "ai_tool": [
        [
          {
            "node": "Social media",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an article in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini2": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many e-mails": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as unread": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini3": {
      "ai_languageModel": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "E-Mails Agent1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini4": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet in X": {
      "ai_tool": [
        [
          {
            "node": "Social media",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e18a92da-f067-4bfa-82d4-7930570fbc7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac52fa9fa7244abc61a934d4d779aff2afd61e496c8b6bcce06bcf38de01a5a8"
  },
  "id": "nwsmJd9UOc7bSG6s",
  "tags": []
}